@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor﻿
@using System.Security.Claims;
@{
    ViewData["Title"] = "IST Space Planning";
}

@{
    bool isAuthenticated = HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated;
    string role = "invalid";
    string userName = "invalid";
    if (isAuthenticated)
    {
        role = HttpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.Role).Value;
        userName = HttpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.Name).Value;
    }
}
@if (true)
{
    <nav class="navbar-default navbar-container">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Floor Plans</a></li>
                    <li><a href="#">Reports</a></li>
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Moves</a></li>
                    @if (role.Equals("Administrator"))
                    {
                        <li><a href="#">Administration</a></li>
                        <li><a href="#">Database</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><i>Logged In as<a> @userName</a> <a asp-action="LogOut" asp-controller="Home">(LogOut)</a></i></li>
                </ul>
            </div>
        </div>
    </nav>
}
<div class="col-md-12">
    <div class="col-md-8"></div>
    <div class="col-md-4 ist-panel">
        <div class="col-md-12">
            <div class="row-panel">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="  search-query form-control" placeholder="Search" />
                        <span class="input-group-btn">
                            <button class="btn btn-search" type="button">
                                <span class=" glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <br />
            <div class="row-panel">
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Create New Floor Plan</button>
            </div>
            <div class="row-panel">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed"> Current Plans<span class="glyphicon-plus pull-right"></span></a></h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" style="height: auto;">
                        <div class="panel-body">
                            <p>Agile software development has been gaining considerable acceptance over the years. While this set of engineering practices for software development was introduced more than 15 years ago, today we are seeing its broad acceptance and more and more software companies complying with agile best practices.</p>
                            <a href="/Software-Outsourcing-Offshore-Proposal-Quote/agile-process-expertise">Read More.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>