@model IST.SpacePlanning.Presentation.Models.AccountViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}

<div class="card-container">
    <div class="card-header col-md-12 text-center">
        <strong>@ViewData["Title"]</strong>
    </div>
    <div class="card col-sm-12">
        <br />
        <div class="text-center">
            <span>Please enter the new password.</span>
        </div>
        <br />
        <form class="form-signin" method="post" asp-controller="Account" asp-action="ForgotPasswordConfirmation">
            <input asp-for="Code" type="hidden" />
            <div class="form-group row">
                <label for="inputUserName" class="col-sm-7 col-form-label">Password:</label>
                <div class="col-form-input col-sm-12">
                    <span id="reauth-user" class="reauth-email"></span>
                    <input asp-for="Password" type="password" class="form-control" id="inputUserName" placeholder="Enter password" required autofocus>
                </div>
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
            <div class="form-group row">
                <label for="inputUserName" class="col-sm-7 col-form-label">Re-Enter Password:</label>
                <div class="col-form-input col-sm-12">
                    <span id="reauth-user" class="reauth-email"></span>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" id="inputUserName" placeholder="Enter password">
                </div>
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            <br />
            <div class="row form-submit">
                <div class="btn-login-container col-sm-12">
                    <button type="submit" class="btn btn-lg btn-primary btn-block btn-signin">Confirm and Login</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
